---
layout: default
popup-gallery: true
gallery-background: bg-dark
gallery:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/the-sleep-co-original1.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/the-sleep-co-original2.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/the-sleep-co-original4.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images/the-sleep-co-original3.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/the-sleep-co-original4.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/the-sleep-co-original3.jpg
---
<!-- This is the body, this is where all of your page content goes.  -->
<body>


    <!--------------- Header Banner ------------------->
    <header class="grid tall-60"> 
     {% include header-nav.html %}

        <div class="text-center col-12-middle"> 
            <h3 class="font-weight-extra-bold editable">
                product <span class="featured-text"> gallery</span> 
            </h3>
        </div> 
    </header>

    {% if page.popup-gallery == true %}
    <!--------------- Pop up Gallery ------------------->
    <section class="padded {{page.gallery-background}}">
        <h1> Pop-up gallery </h1>
        <div class="gallery grid" id="lightgallery">
            {% for item in page.gallery %}
          
              <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
                <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');">
                </div>
              </a> 
            {% endfor %}

              <!--------------- Pop up Gallery Button with Captions ------------------->
            <div class="gallery grid" id="lightgallery-2">
                <a class="button" href="/images/the-sleep-co-original1.jpg" title="Funny dog 1">
                    View Our Work 
                </a> 
                <a href="/images/the-sleep-co-original2.jpg" title="Funny dog 1"></a> 
                <a href="/images/the-sleep-co-original3.jpg" title="Funny dog 2"></a> 
                <a href="/images/the-sleep-co-original4.jpg" title="Funny dog 3"></a> 
                <a href="/images/the-sleep-co-original1.jpg" title="Funny dog 4"></a> 
                <a href="/images/the-sleep-co-original2.jpg" title="Funny dog 5"></a> 
                <a href="/images/the-sleep-co-original3.jpg" title="Funny dog 6"></a> 
            </div>
          </div>

    {% else %}

        
          
    
    <!--------------- Standard Gallery ------------------->
    <section class="padded {{page.gallery-background}}">
        <h1> Standard Gallery </h1>
        <div class="gallery grid">
            {% for item in page.gallery %}
        
            <div class="{{item.column-size}}">
              <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');">
              </div>
            </div>
        
            {% endfor %}
        </div>
    
    {% endif %}

    <!-----------------  Testimonial section   ----------------->
    {% include testimonial.html %}
    
    </section></section></body>